parameters:
	level: 9
	paths:
		- 'php-src'
#	scanFiles:
#		- 'php-tests/CommonTestClass.php'
	excludePaths:
		- 'php-tests/_autoload.php'
		- 'php-tests/_bootstrap.php'
#		- 'php-tests/CommonTestClass.php'
	bootstrapFiles:
		- 'php-tests/_autoload.php'
	ignoreErrors:
		# solved by unit tests
		- '#Cannot call method read\(\) on Directory\|false.#'
		- '#Cannot call method close\(\) on Directory\|false.#'
		# intval, strval
		- '#Parameter \#1 \$va[rl]u?e? of function [si][tn][rt]val expects#'
