<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
        bootstrap="php-tests/_bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        verbose="true">

    <coverage>
        <include>
            <directory suffix=".php">php-src/</directory>
        </include>
        <report>
            <clover outputFile="php-tests/data/clover.xml"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="ALL">
            <directory>php-tests/BasicTests</directory>
            <directory>php-tests/StorageTests</directory>
            <directory>php-tests/TraitsTests</directory>
            <directory>php-tests/AccessTests</directory>
        </testsuite>
    </testsuites>
</phpunit>